<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>Book Search</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
</head>
<body class="grey lighten-2">
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active search-page-link" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link save-page-link" href="#">Saved</a>
      </li>
    </ul>

  </nav>
  <div class="search-page">
    <div class="container">
      <h2>Search Books</h2>
      <input class="search-input primary">
      <button class="btn search">Search <i class="glyphicon glyphicon-search"></i></button>
    </div>

    <div class="container">
      <h3>Search Results</h3>
      <div class="search-filter">
        <div class="filter-box">
          <label id="head-lable">Sort By:</label>
          <span><input type="radio" id="newest" name="selected-filter">
            <label for="newest">Newest</label></span>
          <span><input type="radio" id="oldest" name="selected-filter">
            <label for="oldest">Oldest</label></span>
          <span><input type="radio" id="title" name="selected-filter">
            <label for="title">Title</label></span>
          <span><input type="radio" id="author" name="selected-filter">
            <label for="author">Author</label></span>
        </div>
      </div>
      <div class="err">Keyword can not be blank</div>
      <div id="charts" style="width: 100%; height: 400px"></div>
      <div class="search-books-list">
      </div>
    </div> 
  </div>
  <div class="save-page">
    <div class="container">
      <h2>Saved Books</h2>
      <div class="search-filter">
        <div class="filter-box">
          <label id="head-lable">Sort By:</label>
          <span><input type="radio" id="newest2" name="selected-filter">
            <label for="newest2">Newest</label></span>
          <span><input type="radio" id="oldest2" name="selected-filter">
            <label for="oldest2">Oldest</label></span>
          <span><input type="radio" id="title2" name="selected-filter">
            <label for="title2">Title</label></span>
          <span><input type="radio" id="author2" name="selected-filter">
            <label for="author2">Author</label></span>
        </div>
      </div>
      <div class="warning">You did not save any book yet.</div>
      <div class="save-books-list">
      </div>
    </div>
  </div>



  <script type="text/template" class="books-list-template">
    <div class="card horizontal" id="<%- id %>">
      <div class="card-image">
        <img src="<%- imgUrl %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title"><%= title %></span>
          <p>Written by: <%= author %></p>
          <p>Published Date: <%= year %></p>
          <% if (description){ %>
            <p>Description: <%= description %></p>
          <% } %>
          
        </div>
        <div class="card-action">
           <a href="<%= readerLink %>" target="_blank"><button class="btn btn-primary view-book">View</button></a>
          <a><button class="btn btn-primary save-book">Save</button></a>
        </div>
      </div>
    </div>
    
  </script>
  <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
  <script type="text/javascript" src="bower_components/backbone.radio/build/backbone.radio.js"></script>
  <script type="text/javascript" src="bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
  <script type="text/javascript" src="scripts.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>

</body>
</html>