.card-image{
	padding: 15px;
}
.card .card-title{
	font-weight: 500 !important;
}
img{
	width: 128px;
	height: 190px;
}
.err{
	display: none;
}
nav {
	background-color: white !important;
}
nav .nav-link{
	color: black;
}
.nav-item {
	padding-left: 1vw
}
.nav {
	border: 0 ;
	padding-top: 1vw;
}
.save-book a,  .view-book a{
	color: white !important;
}

.save-page {
	display: none;
}
