.card-image{
	padding: 15px;
}
.card .card-title{
	font-weight: 500 !important;
}
img{
	width: 128px !important;
	height: 190px !important;
}
.err{
	display: none;
}
nav {
	background-color: white !important;
}
nav .nav-link{
	color: black;
}
.nav-item {
	padding-left: 1vw
}
.nav {
	border: 0 ;
	padding-top: 1vw;
}
.save-book a,  .view-book a{
	color: white !important;
}

.save-page {
	display: none;
}
.filter-box{
	margin-top: 2vh;
}
.search{
	width: 30vw !important;
	height: 6vh !important;
	border-radius: 10px !important;
}
.search:hover{
	background-color: rgb(224, 224, 224) !important;
	font-weight: 850 !important;
	text-shadow: 0.5px 0.5px grey !important;
}

.filter-box span{
	margin-left: 5vw;
}
#head-lable{
	font-size: 1.0rem !important;
	color: grey !important;
}