div.book-container{
	display: inline-block;
	width: 40%;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	text-align: center;
  	height: 25vh;
  	background-color: grey; 
}
div.books-list{
	margin-top: 7vh;
}
div.col{
	display: inline;
	width:100%;
	height: 25vh;
	margin: 3vw 3vw 3vw 3vw;
}

.search-input{
	width: 75%;
}
img{
	max-width: 50%;
	position: relative;
	float: left;
}
div.texts{
	font-family: 'Sansita Swashed', cursive;
	width: 40%;
	position: relative;
	float: right;
	margin-right: 10px;
}